
@import '../../styles.scss';
.card{
     height: 280px;
     transition: 1s;
     &:hover{
         transform: translateY(-10px);
     }
     @media (max-width:1023px) {
         height: auto;
     }
}
p{
    margin-bottom: 0;
}
img{
    height: 150px;
    @media (max-width:1023px ) and (min-width: 768px){
         height: 220px;
     }
    @media (max-width:767px) {
         height: auto;
     }
    
}
