
@import '../../styles.scss';
.card{
     max-width: 400px;
     height: 320px;
     @media (max-width:767px) {
         height: auto;
     }
}
p{
    margin-bottom: 0;
}
img{
    height: 150px;
    @media (max-width:767px) {
         height: auto;
     }
}
