<div class="filters">
    <input
    class="custom-input Nunito-Light"
    type="text" 
    name="searchbox" 
    [(ngModel)]="filterCountry"
    placeholder="Search for a country..." />

    <select
    matNativeControl required
    class="custom-select Nunito-Light"
    aria-placeholder="Filter By Region" 
    [(ngModel)]='filterByRegion'>
        <option
        class="Nunito-Light" 
        *ngFor="let region of regions" 
        [ngValue]="region.value">
        {{region.viewValue}}</option
        >
    </select
    >
</div>
<div *ngIf="isLoading;else isLoaded" class="loading_container">
    <mat-spinner></mat-spinner>
</div>
<ng-template #isLoaded>
    <div class="grid_container">
        <div class="grid_item"
            *ngFor="let country of countries |filter:filterByRegion:'region' | filter:filterCountry:'name'">
            <app-card 
            [country]="country"
            (click)="goToDetail(country.alpha3Code)"
            class="app_card">
            </app-card>
        </div >
    </div>
</ng-template>